<ion-view view-title="Grid">
  <ion-content class="padding">
    <h2>Grid template</h2> {{franco}}

    <!-- Basic List-->
    <ion-list class="hidden">
      <ion-item ng-repeat="item in [1,2,3,4,5]">
        Hello, {{item}}!
      </ion-item>
    </ion-list>
    <!-- /Basic List-->

    <!-- Advanced List-->
    <ion-list ng-controller="ListCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <ion-item ng-repeat="item in players" class="item-thumbnail-left">

        <img ng-src="{{item.img}}">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
        <ion-option-button class="button-info" ng-click="edit(item)">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>

      </ion-item>
    </ion-list>
    <!-- /Advanced List-->



  </ion-content>
</ion-view>