<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Soccer Project™</h2>
    <p>
      A Ionic Soccer Management app, made by Alessandro Falchi.
    </p>

    <!-- Login -->
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>      
    </div>
    <div class="">
        <button class="button button-block button-positive" ng-click="createUser()">Login</button>
      </div>
    <!-- /Login -->
    
    <pre>{{user | json}}</pre>
    
    <p>
      <a href="https://m1sc.firebaseio.com/ionic_soccer" target="_blank">Inspect Firebase</a>
    </p>


  </ion-content>
</ion-view>